.header-bar.default-decoration {
    padding-top: 3px;
    padding-bottom: 3px;
}

.header-bar.default-decoration .button.titlebutton {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 0px;
}

